.card {
    max-width: 32.5rem;
    display: flex;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1.5rem;
    align-items: flex-start;
    flex-direction: column;
    padding: 2.5rem;
    padding-bottom: 3rem;
}

.cube {
    max-height: 32.5rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.cube img {
    width: 100%;
    border-radius: 1.5rem;
}

.under {
    margin-bottom: 2.5rem;
    background-color: hsla(178, 100%, 50%, 0.452);
    border-radius: 1.5rem;
    width: 325px;
    height: 325px;
    transform: translateY(-101%);
    transition: 0.5s;
    opacity: 0%;
}

.under:hover {
    transition: 0.5s;
    opacity: 100%;
    cursor: pointer;
}

.viewer {
    max-width: 5.5rem;    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.txt {
    margin-bottom: 2.5rem;
    margin-top: 0;
    font-size: 1.8rem;
    font-family: Outfit, sans-serif;  
    font-weight: 300;  
    color: hsl(215, 51%, 70%);
}

.moneyTime {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.line {
    width: 100%;
    border-color: hsl(215, 51%, 70%);
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

@media (max-width: 410px) {
    .card {
        max-width: 15rem;
        padding: 1.25rem;
        border-radius: 1rem;
    }

    .cube {
        max-width: 15rem;
        height: 15rem;
        margin-bottom: 1.25rem;
    }

    .cube img {
        border-radius: 1rem;
    }

    .under {
        width: 15rem;
        height: 15rem;
        border-radius: 1rem;
    }

    .txt {
        font-size: 1.1rem;
    }

    .viewer {
        max-width: 3rem;
    }
}