.container {
    background-color: hsl(217, 54%, 11%);
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 410px) {
    .container {
        height: 100vh;
        min-width: 200px;
    }
}